{% extends "base.html" %}
{% block title %}Tasks{% endblock %}
{% block content %}
    <header>
        <h1><a href="/" >Task Management System</a></h1>
        <div class="auth-buttons">
            {% if request.user.is_staff %}
                <a href="{% url 'create_task' %}"><button class="register-button">Create</button></a>
            {% endif %}
        </div>
    </header>
    <div class="task-container">
      <section>
        <h2 class="section-title">User Tasks</h2>
        <table>
          <thead>
            <tr>
              <th>Task</th>
              <th>Assigned To</th>
              <th>Report</th>
              <th>Worked Hours</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% if tasks %} {% for task in tasks %}
            <tr>
              <td>{{ task.title }}</td>
              <td>{{ task.assigned_to }}</td>
              <td>{{ task.completion_report }}</td>
              <td>{{ task.worked_hours }}</td>
              <td>
                {% if task.status == completed %}
                 Completed
                {% elif task.assigned_to in request.user.subordinate_user.assignees.all or request.user.is_superuser %}
                    <div class="navigation" style="justify-content:flex-start">
                        <a href="{% url 'edit_task' task.pk %}"><button>Edit</button></a>
                        <a href="{% url 'delete_task' task.pk %}"><button>Delete</button></a>
                        {% if task.status != "completed" %}
                            <a href="{% url 'complete_task' task.pk %}"><button>Mark Completed</button></a>
                        {% else %}
                            Completed
                        {% endif %}
                    </div>
                {% else %}
                    {% if task.status != "completed" %}
                        <a href="{% url 'complete_task' task.pk %}"><button>Mark Completed</button></a>
                    {% else %}
                        Completed
                    {% endif %}
                {% endif %}
              </td>
            </tr>
            {% endfor %} {% else %}
            <tr>
              <td colspan="3" class="empty-message">No tasks available</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </section>
    </div>
  </body>
</html>
{% endblock %}