{% extends "base.html" %}
{% block title %}Tasks{% endblock %}
{% block content %}
<div class="container">
        <h2 class="form-title">Create New Task</h2>
        
        <form class='task-create' method="post" novalidate>
            {% csrf_token %}
            
            {% if form.non_field_errors %}
            <div class="error-message">
                {{ form.non_field_errors }}
            </div>
            {% endif %}
            
            <div class="form-group">
                <label for="{{ form.title.id_for_label }}">Title:</label>
                {{ form.title }}
            </div>
            
            <div class="form-group">
                <label for="{{ form.description.id_for_label }}">Description:</label>
                {{ form.description }}
            </div>
            
            <div class="form-group">
                <label for="{{ form.assigned_to.id_for_label }}">Assigned To:</label>
                {{ form.assigned_to }}
            </div>
            
            <div class="form-group">
                <label for="{{ form.due_date.id_for_label }}">Due Date:</label>
                {{ form.due_date }}
            </div>
            <div class="button-group">
                <button type="submit" class="submit-button">Create </button>
            </div>
        </form>
    </div>
{% endblock %}